.portfolio__tokens {
    margin-top: 70px;
}

.portfolio__tokens-info {
    max-width: 2267px;
    margin: 0 auto;
    padding-top: 40px;
    border: 2px solid #d5d5d5;
    border-radius: 10px;
}

.portfolio__nav {
    border-bottom: 2px solid #d5d5d5;
    padding-bottom: 40px;
}

.portfolio__params {
    width: calc(100% - 90px);
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.portfolio__params-element {
    display: inline;
    color: rgb(104, 102, 102);
    font-size: 28px;
}

.portfolio__params-element:first-of-type {
    padding-right: 420px;
}

.portfolio__pepe {
    width: 120px;
}

.portfolio__failure {
    color: black;
    font-size: 35px;
    font-weight: 700;
}

.portfolio__token-page {
    color: rgb(104, 102, 102);
    font-size: 35px;
    text-decoration: none;
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    padding: 15px 60px;
    transition: opacity ease-in-out .3s;
}

.portfolio__token-page:hover {
    opacity: .4;
}

.portfolio__failure-container {
    height: 1998.81px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}