.footer {
    padding-top: 81px;
    background-color: black;
    padding-bottom: 35px;
}

.footer__container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: calc(100% - 150px);
}

.footer__about {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    justify-content: space-between;
}

.footer__logo {
    margin: 0;
    margin-bottom: 36px;
    font-size: 70px;
    line-height: 1.2;
    font-weight: 700;
}

.footer__icon-list {
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
}

.footer__icon {
    width: 34px;
    height: 29px;
    transition: opacity ease-in-out .3s;
    cursor: pointer;
}

.footer__icon:hover {
    opacity: .5;
}

.footer__icon-element {
    margin-right: 26px;
}

.footer__icon-element:last-of-type {
    margin-right: 0;
}

.footer__info {
    display: flex;
    flex-direction: column;
}

.footer__contacts {
    margin: 0;
    margin-bottom: 21px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #929292;
}

.footer__contacts:last-of-type {
    margin-bottom: 0;
}

.footer__quotes {
    margin: 0;
    margin-bottom: 21px;
    font-size: 35px;
    line-height: 84px;
    font-weight: 600
}

.footer__dis { 
    margin: 0;
    margin-bottom: 37px;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
}

.footer__dis-text:first-of-type {
    margin-bottom: 21px;
}

.footer__dis-text {
    margin: 0;
    font-size: 35px;
    letter-spacing: -0.03em;
    line-height: 1.2;
    font-weight: 600;
    color: #929292;
}

.footer__quotes-list {
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: 54px;
    padding: 0;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
    color: #929292;
    letter-spacing: -0.03em;
}

.footer__quotes-elements {
    margin-right: 48px;
    text-decoration: none;
    color: #929292;
    transition: opacity ease-in-out .3s;
}

.footer__quotes-elements:hover {
    opacity: .5;
}

.footer__quotes-elements:first-of-type {
    margin-right: 53px;
}

.footer__quotes-elements:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 2416px) {
    .footer__contacts {
        font-size: 20px;
    }

    .footer__quotes {
        font-size: 20px;
    }

    .footer__quotes-list {
        font-size: 20px;
        margin-bottom: 34px;
    }

    .footer__dis {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer__dis-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 1919px) {
    .footer__quotes-elements {
        margin-right: 15px;
    }
    
    .footer__quotes-elements:first-of-type {
        margin-right: 15px;
    }

    .footer__quotes-elements:last-of-type {
        margin-right: 0;
    }

    .footer__quotes-list {
        font-size: 18px; 
    }

    .footer__dis {
        font-size: 18px;
    }

    .footer__dis-text {
        font-size: 18px;
    }

    .footer__contacts {
        font-size: 18px;
    }

    .footer__icon {
        width: 26px;
        height: 21px;
    }

    .footer__logo {
        margin: 0;
        font-size: 50px;
    }

    .footer__icon-list {
        margin: 0;
    }
    
    .footer__contacts:first-of-type {
        margin: 0;
    }
}

@media screen and (max-width: 1498px) {
    .footer__quotes-list {
        font-size: 14px; 
    }

    .footer__quotes {
        font-size: 14px;
    }

    .footer__dis {
        font-size: 14px;
    }

    .footer__dis-text {
        font-size: 14px;
    }

    .footer__contacts {
        font-size: 14px;
    }
}

@media screen and (max-width: 1279px) {
    .footer__logo {
        font-size: 50px;
    }

    .footer__container {
        width: calc(100% - 100px);
    }

    .footer__quotes-list {
        font-size: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 1279px) {
    .footer__quotes {
        line-height: 1.2;
    }

    .footer__logo {
        font-size: 30px;
    }

    .footer__icon {
        width: 20px;
        height: 15px;
    }
}

@media screen and (max-width: 799px) {
    .footer__quotes {
        text-align: center;
    }

    .footer__dis {
        text-align: center;
    }

    .footer__dis-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 719px) {
    .footer__quotes {
        line-height: 1.2;
        font-size: 12px;
        text-align: left;
    }

    .footer__quotes-list {
        margin-bottom: 20px;
    }

    .footer__dis {
        font-size: 12px;
        text-align: left;
    }

    .footer__about {
        margin-right: 0;
        width: calc(100% - 40px);
    }

    .footer__container {
        width: calc(100% - 40px);
    }

    .footer__contacts {
        font-size: 12px;
    }

    .footer__logo {
        font-size: 25px;
    }

    .footer__icon-list {
        justify-content: space-between;
    }

    .footer__icon-element {
        margin: 0;
    }

    .footer__container {
        flex-wrap: wrap-reverse;
        
    }

    .footer__info {
        width: calc(100% - 40px);
    }
}